:root {
    --background-color: rgb(246, 246, 246);
    --menu-color: rgb(41, 41, 41);
    --menu-color-50: rgba(41, 41, 41,0.50);
    --botton-color-green: rgb(37,162,90);
    --botton-color-red: rgb(174, 25, 25);
    --float-box: rgb(255, 255, 255);
    --text-header: rgb(238, 238, 238);
    --content-box: rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: center; /*trocar para space-between quando for inserir os outros elementos*/
    background-color: var(--menu-color);
    color: var(--float-box);
    width: 100%;
    font-size: 1.25rem;
    font-style: bold;
}

a {
    text-decoration: none;
    color: var(--botton-color-green);
}

.topo-login{
    display: flex;
    color: var(--botton-color-green);
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
}

.display-menu{
    display: flex;
    justify-content: space-around;
    min-width: 26rem;
    font-size: 1.2rem;
}

.display-menu-formulario {
    display: grid;
    justify-content: center;
    justify-items: center;
    min-width: 26rem;
    border: none;
}

.display-menu-formulario .botoes-home {
    color: var(--Ttulo-2, #292929);
    margin: 1.3rem;
    padding: 1rem;
    width: 51.8rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.icon-login{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
}

.formulario{
    margin: 0 1rem;
    max-width: 19rem;
    font-size: 1.5rem;
    text-align: center;
    
}
.botao-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    width: 51.8rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--menu-color-50);
    background: #FFF;
    margin-bottom: 1.5rem;
}

.botao-enviar{
    width: 51.8rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--botton-color-green);
    background: var(--botton-color-green);
    color: var(--background-color);
    margin: 1.5rem 0;
    cursor: pointer;
}

.botao-enviar:hover{
    opacity: 0.8;
    background: var(--botton-color-green);
    color: var(--background-color);
}

@media (max-width: 599px) {
    .topo-login {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .botao-formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 26rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--menu-color-50);
        background: #FFF;
        margin-bottom: 1.5rem;
    }

    .botao-enviar{
        width: 26rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--botton-color-green);
        background: var(--botton-color-green);
        color: var(--background-color);
        margin-bottom: 1.5rem;
    }
    .display-menu-formulario .botoes-home {
        width: 26rem;
    }
    .menu-home a{
        color: var(--menu-color);
        text-align: center;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 0.3125rem;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

}
.botao-enviar{
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--botton-color-green);
    color: #FFF;
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}

.botao-enviar:hover{
    opacity: 0.8;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--botton-color-green);
    color: rgb(17, 17, 17);
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}

.sair-IFinder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.nao{
    background-color: red;
    color: white;
    padding: 35px 50px;
    margin: 35px;
    border-radius: 20px;    
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.sim{
    background-color: green;
    color: white;
    padding: 35px 50px;
    margin: 35px;
    border-radius: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Nao:hover, .Sim:hover{
    opacity: 0.5;
}
}
