:root {
    --background-color: rgb(246, 246, 246);
    --menu-color: rgb(41, 41, 41);
    --botton-color-green: rgb(37,162,90);
    --botton-color-red: rgb(174, 25, 25);
    --float-box: rgb(255, 255, 255);
    --text-header: rgb(238, 238, 238);
    --content-box: rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: center; /*trocar para space-between quando for inserir os outros elementos*/
    background-color: var(--menu-color);
    color: var(--float-box);
    width: 100%;
    font-size: 1.25rem;
    font-style: bold;
}

a {
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .botao-formulario{
        width: 25.3rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--menu-color);
        background: #FFF;
        margin-bottom: 1.5rem;
        justify-content: center;
        align-items: center; 
    }
    .botao-enviar{
        width: 25.3rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        background: var(--botton-color-green);
        color: #FFF;
        margin: 1.5rem 0;
        cursor: pointer;
        border: 0.2rem solid var(--botton-color-green);
    }
    .topo-login{
        width: 25.3rem;
        display: flex;
        flex-direction: column;
        color: var(--botton-color-green);
        text-align: center;
        font-size: 3.5rem;
    }

}

.topo-login{
    display: flex;
    flex-direction: column;
    color: var(--botton-color-green);
    text-align: center;
    font-size: 3.5rem;
}

.display-menu{
    display: flex;
    justify-content: space-around;
}

.login {
    display: flex;
    /* width: 35rem; */
    min-width: 37.5rem;
    max-width: 60rem;
    justify-content:space-around;
    flex-direction: column;
    margin: 1rem;
}

.icon-login{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
}

.formulario{
    width: 19rem;
    color: var(--botton-color-green);
    font-size: 1.5rem;
    text-align: center;
    
}
.botao-formulario{
    width: 51.8rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--menu-color);
    background: #FFF;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center; 
}
.botao-formulario-mobile{
    width: 25.3rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--menu-color);
    background: #FFF;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center; 
}

.botao-enviar{
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--botton-color-green);
    color: #FFF;
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}
.botao-enviar:hover{
    opacity: 0.8;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--botton-color-green);
    color: rgb(17, 17, 17);
    margin: 1.5rem 0;
    cursor: pointer;
    border: 0.2rem solid var(--botton-color-green);
}